body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.slider-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.slider-container label {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.cercle {
  border-radius: 50%;
  background-color: white;
  animation: cycleColor 1s infinite;
}

@keyframes cycleColor {
  0%, 100% {
      background-color: white;
  }
  50% {
      background-color: black;
  }
}

#user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-name {
  margin: 0;
}
